// ---------
// Utilities
// ---------

// Grid

.grid {
  display: block;
  @include query($bp-sml){
    display: grid;
    justify-content: space-between; 
  }
}

.grid-child {
  @include query-down($bp-sml){
    margin: var(--u2) 0;
  }
  width: 100%;
}

// Flex

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-top: 0; // fix lack of margin-collapse with flex items
  }
}

.flex-row, .flex-row-reverse {
  flex-direction: column;
}

.flex-row {
  @include query($bp-lrg){
    flex-direction: row;
  }
}

.flex-row-reverse {
  @include query($bp-lrg){
    flex-direction: row-reverse;
  }
}

.flex-grow {
  flex: 1 0 auto;
}

.flex-stay {
  flex: 0 1 auto;
}

// Wrappers

.block-center {
  width: 100%;
  @include x-center;
  @include side-padding(var(--s1));
}

.constrain {
  max-width: var(--content);
  @extend .block-center;
}

.constrain-wide {
  max-width: var(--magazine);
  @extend .block-center;
}

.full {
  width: 100%;
}

.measure {
  max-width: var(--measure);
}

// Transformations

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: none;
  @include query($bp-med){
    float: right;
  }
}

.sideways {
  display: inline-block;
  padding: var(--u1) 0;
  @include query($bp-med){
    transform: rotate(-90deg) translateX(-100%) translateY(-0.25em);
    transform-origin: 0 0;
    padding: 0 var(--u1);
    white-space: nowrap;
  }
}

// Vertical spacing

.vp-1 {
  @include sandwich-padding(var(--u1));
}

.vp-2 {
  @include sandwich-padding(var(--u2));
}

.vp-4 {
  @include sandwich-padding(var(--s1));
}

.vp-8 {
  @include sandwich-padding(var(--s2));
}

.vp-16 {
  @include sandwich-padding(var(--s4));
}

hr {
  margin: var(--s2) 0;
  color: var(--fg-dm);
  border-style: solid;
}

hr.thickline {
  border-width: thick;
  color: var(--ac);
  background-color: var(--ac);
  @include query($bp-lrg){
    border-width: var(--u1);
  }
}

// Other stuff

.inline-icon {
  position: relative;
  top: -0.05em;
  fill: currentColor;
  width: 0.8em;
  height: 0.8em;
  color: currentColor;
}

.rbr {
  display: none;
  @include query($bp-sml) {
    display: inline;
  }
}

// --------------
// Customisations
// --------------